// Import external styles //
@import url('https://fonts.googleapis.com/css?family=Kanit:900|Rubik:400,700');
@import url('https://pro.fontawesome.com/releases/v5.4.2/css/all.css');

///////////////////////
//  BULMA VARIABLES  //
///////////////////////

// Fonts
$family-sans-serif: 'Rubik', sans-serif;

// Color literals:
$red: #ed043d;
$brown: #8a582f;
$green: #00a47f;
$purple: #bd16e2;
$gold: #d1af0f;
$teal: #14addf;

$land: #f5e7db;
$ocean: #d5f2ff;

// $body-background-color: #d4f2ff;
$text-darkgray: #4a4a4a;

// Navbar:
$navbar-background-color: transparent;
$navbar-burger-color: $red;
$navbar-item-color: $red;
$navbar-item-hover-color: $red;
$navbar-height: 3.5rem;

// Box:
$box-radius: 1.5rem;
$box-shadow: 0 2px 10px 5px rgba(10, 10, 10, 0.1),
	0 0 0 1px rgba(10, 10, 10, 0.1);

// Section:
$section-padding: 1rem 0.5rem;

@import './node_modules/bulma/bulma';

/////////////////////
//  DIRECT STYLES  //
/////////////////////
.proper {
	font-family: 'Kanit', sans-serif;
}

#app {
	overflow: visible;
	min-height: 100vh;
	position: absolute;
	padding-bottom: 4rem;
	width: 100vw;
}

#cta {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	.button {
		display: inline-block;
		text-align: center;
		margin: 0 1rem;

		span.icon {
			position: relative;
			top: 1px;
			margin: 0 0 0 -10px;
		}
	}
}

.cta--vertical {
	display: flex;
	flex-flow: column nowrap !important;
	.button {
		margin: 0.4rem 0 !important;
	}
}

.background-layer {
	position: absolute;
	overflow: hidden;
	min-height: 100vh;
	height: 100%;
	width: 100vw;
	top: 0px;
	z-index: -1;
	&.home {
		background: linear-gradient(
			to bottom,
			#d5f2ff 30%,
			#d1e3f9 69%,
			#d4fafc 100%
		);
	}
	&.results {
		background: linear-gradient(
			to bottom,
			#d5f2ff 30%,
			#95c1f9 69%,
			#4093ff 100%
		);
	}
	&.values,&.places,&.location {
		background: linear-gradient(to bottom, #ffffff 59%,#f5e7db 90%);
	}
}

.background-svg {
	position: absolute;
	&.beach {
		z-index: -1;
		transform: scale(1.9, 1.6) rotate(-17deg);
		top: -1vh;
		left: 39px;
	}
	&.ocean {
		z-index: -5;
		top: 240px;
		transform: scale(4, 3.4) rotate(4deg);
		left: 350px;
	}
}

#landing {
	padding: 0;

	.hero-body {
		padding: 0.5rem 1rem;
	}

	.title {
		font-size: 2.2rem;
	}

	.subtitle {
		font-size: 1.5rem;
	}

	.filters,
	.places,
	.location {
		min-height: 50vh;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: flex-start;
	}
}

.error {
	text-align: center;

	.logo {
		height: 13vh;
		transform: rotate(15deg);
		margin: 1rem 0 1.5rem;
	}
}

.logo {
	display: block;
	width: 32%;
	margin: 1rem auto;
	max-width: 250px;
	transform: rotate(15deg);
}

.about {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;

	.logo {
		width: 23%;
		margin-top: 2.5rem;
		max-width: 200px;
		transform: rotate(15deg);
	}

	&__group {
		margin: 3rem 0 0 0;
		padding: 0 2rem;
		@extend .has-text-brown;

		&__title {
			@extend .title, .has-text-brown;
		}

		&__p {
			@extend .is-size-6;
		}
	}
}

.hero-values {
	margin: 0 0 0.5rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	&__value {
		font-weight: bold;
		width: 40%;
		margin: -0.15rem 0;
		text-align: center;

		&--wide {
			width: 100%;
		}

		&--first-row {
			margin-top: 1rem;
		}

		i {
			display: block;
			font-size: 2rem;
		}

		span {
			white-space: nowrap;
			margin: 0 -1rem;
		}
	}
}

.filters__button,
.places__button {
	display: block;
	margin: 0.5rem 0;
	height: 3.5rem;
	border: none;
	background: transparent;
	@extend .button;
	@extend .has-text-weight-bold;
	@extend .is-size-5;
	@extend .is-rounded;

	i {
		pointer-events: none;
		font-size: 1.6rem;
		margin-right: 0.3rem;
		position: relative;
		top: 0.1rem;
	}
}

$color-map: (
	red: $red,
	green: $green,
	purple: $purple,
	gold: $gold,
	teal: $teal,
	brown: $brown,
);

@each $colorName, $color in $color-map {
	.has-text-#{$colorName} {
		color: #{$color};

		&:hover,
		&:visited,
		&:focus {
			outline: 0;
			color: #{$color};
		}

		&.is-selected {
			color: $white;
		}
	}
}

@each $colorName, $color in $color-map {
	.has-background-#{$colorName} {
		&:active {
			background-color: rgba($color, 0.35);
		}

		&.is-selected {
			background-color: rgba($color, 0.75);
		}
	}
}

.search-result {
	padding: 1rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	&__title {
		@extend .is-size-4, .has-text-weight-bold, .has-text-black;
	}
	&__values {
		@extend .is-size-4;
		display: flex;
		flex-flow: row nowrap;
	}
	&__value {
		margin: 0 0.2rem;
	}
	&__right {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
	}
	&__arrow {
		color: $red;
		@extend .is-size-1;
	}
	&__arrow:hover {
		color: darken($red, 15);
		cursor: pointer;
	}
}

.filters-bar {
	margin-top: 1rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0 1rem;

	.box {
		border-radius: 100px;
	}

	.placeType-pill,
	.filters-pill {
		@extend .is-size-3;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			cursor: pointer;
			box-shadow: 0 0 1rem 3px rgba($teal, 0.4);
		}
	}

	.placeType-pill {
		width: 60px;
	}

	.filters-pill {
		&__icon {
			margin: 0 0.2rem;
		}
	}
}

.inactive {
	opacity: 0.3;
}

.load-indicator {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
	min-height: 30vh;

	&__text {
		font-style: italic;
		font-weight: 400;
		text-align: center;
		font-size: 1.5rem;
	}

	&__island {
		width: 100%;
		height: 100%;
		position: absolute;
		transform: scale(1.8,1.9) rotate(-2deg);
		top: 6vh;
		left: 16vw;
		z-index: -1;
	}
}

.footer {
	background-color: $land;
	padding: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	&__text {
		text-align: center;
		@extend .is-size-7;
		font-weight: bold;
		color: $brown;
	}
}

// Begin Desktop styles
@media (min-width: 650px) {
	@each $colorName, $color in $color-map {
		.has-background-#{$colorName} {
			&:hover {
				background-color: rgba($color, 0.25);
			}

			&.is-selected:hover {
				background-color: darken($color, 15);
			}
		}
	}

	.background-svg {
		position: absolute;
		&.beach {
			z-index: -1;
			transform: scale(6.9, 3.3) rotate(-18deg);
			top: -4%;
			left: 52%;
		}
		&.ocean {
			z-index: -5;
			transform: scale(18, 15.4) rotate(1deg);
			top: 9%;
			left: 50%;
		}
	}
}
